.hero__container {
  min-height: 100vh;
  width: 100%;
  background-color: var(--dark-blue);
  padding-top: 12rem;
}

.hero__textBox {
  font-size: 3.6rem;
  height: fit-content;
  margin-bottom: 1.6rem;
  width: 80%;
  font-weight: 700;
  padding-left: 20%;
}

.hero__mainInfo {
  color: var(--white-color);
}

.hero__jobTitle {
  color: var(--light-purple);
}

.hero__subInfo {
  color: var(--transparent-grey);
}

.hero__intro {
  color: var(--white-color);
  font-size: 3rem;
  width: 80%;
  font-weight: 600;
  padding-left: 20%;
  margin-bottom: 2.4rem;
}

.hero__links {
  width: 100%;
  display: flex;
  gap: 3.6rem;
  justify-content: center;
  list-style: none;
  margin-bottom: 3.2rem;
}

.hero__link img {
  width: 4.4rem;
}

.hero__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 3.2rem;
}

.hero__button,
.hero__button:link,
.hero__button:visited {
  background: none;
  border: none;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 1.8rem;
  font-family: inherit;

  cursor: pointer;
  font-weight: 700;
}

.hero__mainButton {
  padding: 1.5rem 2rem;
  background-color: var(--light-purple);
  color: var(--white-color);
}

.hero__mainButton:hover,
.hero__mainButton:active {
  background-color: var(--dark-purple);
}

.hero__secondaryButton:link,
.hero__secondaryButton:visited {
  display: inline-block;
  padding: 1.5rem 2rem;
  background-color: #f7f7f7;
  color: #777777;
}

.hero__secondaryButton:hover,
.hero__secondaryButton:active {
  background-color: #dcdcdc;
  color: #555555;
}
