.navbar__container {
  background-color: var(--dark-blue);
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  padding: 4rem 4rem 0 0;
}

.navbar__elements {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navbar__link {
  background: none;
  font-family: inherit;
  color: var(--transparent-grey);
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s;
}

.navbar__link:hover {
  color: var(--light-blue);
}

.navbar__smallNavIconContainer {
  display: none;
  position: fixed;
}

.navbar__smallNavIconContainer ion-icon {
  color: var(--white-color);
  width: var(--small-navbar-logo-size);
  height: var(--small-navbar-logo-size);
  cursor: pointer;
}

@media (max-width: 700px) {
  .navbar__smallNavIconContainer {
    display: block;
  }

  .navbar__elements {
    display: none;
  }
}
