:root {
  --white-color: #fff;
  --dark-blue: #181823;
  --light-blue: #00ffff;
  --light-purple: #5221e6;
  --dark-purple: #2a0b85;
  --shopee-orange: #ee4d2d;
  --very-dark-blue: #2a2a38;
  --transparent-grey: rgba(255, 255, 255, 0.5);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  font-family: "Urbanist", sans-serif;
  position: relative;
}
