:root {
  --white-color: #fff;
  --dark-blue: #181823;
  --light-blue: #00ffff;
  --light-purple: #5221e6;
  --dark-purple: #2a0b85;
  --shopee-orange: #ee4d2d;
  --very-dark-blue: #2a2a38;
  --transparent-grey: rgba(255, 255, 255, 0.5);

  --section-title-font-size: 6.2rem;
  --section-title-padding: 0 0 0 2.4rem;
  --section-title-margin-bottom: 4.8rem;

  --small-navbar-logo-size: 6rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  font-family: "Urbanist", sans-serif;
  position: relative;
}

@media (max-width: 1250px) {
  :root {
    --section-title-font-size: 5.2rem;
  }
}

@media (max-width: 1000px) {
  :root {
    --section-title-font-size: 4.4rem;
  }
}

@media (max-width: 850px) {
  :root {
    --section-title-font-size: 3.6rem;
  }
}

@media (max-width: 400px) {
  :root {
    --small-navbar-logo-size: 4rem;
  }
}
