.aboutMe__container {
  background-color: var(--dark-blue);
  width: 100%;
  height: 52rem;
}

.aboutMe__title {
  font-size: var(--section-title-font-size);
  color: var(--white-color);
  padding: var(--section-title-padding);
  margin-bottom: var(--section-title-margin-bottom);
}

.aboutMe__content {
  display: flex;
  height: 100%;
}

.aboutMe__textbox {
  width: 50%;
  color: var(--white-color);
  background-color: var(--light-purple);
  height: 100%;
  padding: 2.4rem 4.8rem 0 2.4rem;
  font-size: 2.7rem;
  font-weight: 500;
  line-height: 2;
}

.aboutMe__imageContainer {
  width: 50%;
  height: 100%;
}

.aboutMe__imageContainer img {
  width: 100%;
  height: 100%;
  display: block;
}

@media (max-width: 1250px) {
  .aboutMe__container {
    height: 44rem;
  }

  .aboutMe__textbox {
    font-size: 2.2rem;
  }
}

@media (max-width: 1000px) {
  .aboutMe__container {
    height: 36rem;
  }

  .aboutMe__textbox {
    font-size: 1.8rem;
  }
}

@media (max-width: 850px) {
  .aboutMe__container {
    height: 30rem;
  }

  .aboutMe__textbox {
    font-size: 1.6rem;
    width: 60%;
  }

  .aboutMe__imageContainer {
    width: 40%;
  }
}

@media (max-width: 700px) {
  .aboutMe__textbox {
    width: 100%;
    font-size: 1.6rem;
  }

  .aboutMe__imageContainer {
    width: 0%;
  }
}

@media (max-width: 400px) {
  .aboutMe__container {
    height: fit-content;
  }

  .aboutMe__textbox {
    padding-bottom: 2rem;
  }
}

@media (max-width: 300px) {
  .aboutMe__textbox {
    width: 100%;
    font-size: 1.2rem;
    padding: 2.4rem 3.2rem 0 2.4rem;
  }
}
